/* BookBlock.css */

.book-container {
    border: 2px solid #007bff;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    margin: 25px auto;
    border-radius: 30px;
    transition: transform 0.3s ease-in-out;
  }

  .book-container:hover {
    transform: scale(1.05); /* Increase size on hover */
  }
  
  .title-box {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #0056b3;
    text-align: center;
  }
  
  .title-link {
    text-decoration: none;
    color: #fff;
  }
  
  .info-box {
    padding: 15px; /* Add padding for inner content */
    text-align: center;
  }
  
  .book-info {
    margin: 10px 0; /* Add vertical margin */
  }
  
  .genre-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .genre-list li {
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
  }
  