/* Book.css */

/* Container styling */
.book-container-book {
    max-width: 600px;
    margin: auto;
    margin-top: 20px; /* Add margin to top to avoid overlapping with NavBar */
    padding: 20px;
    border: 2px solid #e74c3c; /* Red border color */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 3px 4px 3px rgba(0, 1, 1, 0.3); /* Shadow effect */
    background-color: #ecf0f1; /* Light background color */
  }
  
  /* Book title styling */
  .book-title {
    color: #000000; /* Title color */
    background-color: #007bff;
    padding: 10px; /* Add padding to the title */
    border-radius: 5px; /* Rounded corners for the title box */
    margin-bottom: 10px; /* Add margin below the title */
    text-align: center; /* Center align the text */
  }
  
  /* Book author styling */
  .book-author {
    font-style: italic; /* Italicize author */
  }
  
  /* Book details styling */
  .book-details {
    margin-top: 10px;
  }
  
  /* Button styling */
  .book-btn-container {
    display: flex;
    justify-content: space-between;
  }
  
  /* Edit button styling */
  .edit-book-btn {
    background-color: #2ecc71; /* Green button color */
    color: #ecf0f1; /* Button text color */
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Delete button styling */
  .delete-book-btn {
    background-color: #e74c3c; /* Red button color */
    color: #ecf0f1; /* Button text color */
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Hover effect for delete button */
  .delete-book-btn:hover {
    background-color: #c0392b; /* Darker red color on hover */
  }
  